/*Last updated 2019-06-09*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-family: "Cormorant Garamond", serif;
	padding: 20px;
}

button {
	margin: 5px;
	color: black;
	padding: 0.4em;
	border-radius: 1em;
	color: black;
	background-color: lightgreen;
	border-color: green;
}

a {
	text-decoration: none !important;
	color: black !important;
}
#page-heading {
	font-size: 38px;
	text-align: center!important;
	padding: 20px;
}

footer {
	clear: both;
	background-image: linear-gradient(green, lightgreen);
	padding: 0.625em;
	font-size: 20px;
	font-family: serif;
}
footer a:hover {
	text-decoration: none !important;
	color: blue !important;
}
h1 {
    font-size: 32px;
	background-image: linear-gradient(green, lightgreen);
}

h2 {
    font-size: 24px;
    padding: 0;
    margin: 0;
}

ul {
	list-style-type: none !important;
	padding-inline-start: 0px;
}

.clear {
	clear:both !important;
}

.employee {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    width: 20%;
    cursor: pointer;
    position: relative;
    float: left;
    padding: 5px;
}

.employee img {
    width: 100%;
}

.employee span {
    font-size: 16px;
    -webkit-transition: all .2s linear;
    transition: all .5s linear;
    opacity: 1;
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
    top: 5px;

    padding: 10px;
    text-align: center;
    color: white;
    display: block;
}

.employee span h2 {
    -webkit-transition: all .2s linear;
    transition: all .5s linear;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.hidden h2 {
    bottom: -10px!important;
}

.hidden {
    opacity: 0!important;
}

.inline-button {
	display: inline !important;
}

.wrong {
    background-color: rgba(200,0,0,0.5);
}

.right {
    background-color: rgba(0,200,0,0.5);
}

.right-button {
    display:inline-block !important;
	float:right !important;
}

#question-wrapper {
    text-align: center;
    padding: 25px;
}

#question-wrapper h1 {
    font-size: 36px;
}

.refresh {
    width: 100%;
    background-color: #bad;
    padding: 20px;
    color: white;
    font-size: 24px;
    border: 0px solid #bad;
    cursor: pointer;
}

.deutsch {
    display: none;
}

.italiano { 
    display: none;
}
