/*Last modified 10/9/2018*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
	text-decoration: none !important;
	color: black;
}
body {
	font-family: "Fira Sans";
    font-size: 1.125em;
    padding: 0em 1.25em 1.25em 1.25em;
}
button {
	margin: 0.313em;
	color: black;
	background-image: linear-gradient(green, lightgreen);
	border-color: green;
}
div {
    padding: 0.625em;
}

footer {
	clear: both;
	background-image: linear-gradient(green, lightgreen);
	padding: 0.625em;
}

footer a:hover {
	color: blue;
}

h1 {
	background-image: linear-gradient(green, lightgreen);
    font-size: 2.375em;
	font-family: "Cormorant Garamond";
	padding: 0.625em 0em;
	margin: auto !important;
    text-align: center!important;
}

h2 {
    font-size: 1.5em;
	font-family: "Cormorant Garamond";
    padding: 0.625em 0em;
    margin: auto;
	text-align: center;
}

img {
	width: 25em;
	display: inline;
}

li {
	float: left;
}
ul {
	list-style-type: none !important;
	padding-inline-start: 0em;
	margin: 0.5em 0em;
}

.clear {
	clear:both !important;
}

.correct {
    background-color: rgba(0,200,0,0.5);
}

.hidden h2 {
    bottom: -0.625em!important;
}

.hidden {
    opacity: 0!important;
}

.incorrect {
    background-color: rgba(200,0,0,0.5);
}

.left
{
    display: block;
    float: left !important;
}

.noun {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    width: 20%;
    cursor: pointer;
    position: relative;
    float: left;
    padding: 0.313em;
}

.noun img {
    width: 100%;
}

.noun span {
    font-size: 1em;
    -webkit-transition: all .2s linear;
    transition: all .5s linear;
    opacity: 1;
    position: absolute;
    bottom: 0.625em;
    left: 0.313em;
    right: 0.313em;
    top: 0.313em;

    padding: 0.625em;
    text-align: center;
    color: white;
    display: block;
}

.noun span h2 {
    -webkit-transition: all .2s linear;
    transition: all .5s linear;
    position: absolute;
    bottom: 0.625em;
    left: 0;
    right: 0;
}

.right {
    display: inline-block !important;
	float: right !important;
}

#question-wrapper {
	clear: both;
}

#question-wrapper h1 {
    font-size: 2.25em;
	padding: 0.5em;
}
